*{
	text-decoration: none;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
	scroll-behavior: smooth;
}

*:hover{
	transition: 0.6s;
}

body{
	background-color: #715147;
}

.scroll{
	width: 100%;
	height: 27px;
	float: unset;
	display: inline-block;
}

#header{
	width: 100%;
	background-color: white;
	height:60px;
	box-shadow: 0px 2px 4px 1px rgb(0,0,0,0.5);
	position: fixed;
}

#brand{
	font-family: 'Lobster', cursive;
	float: left;
	font-size: 120%;
	margin: 15px 0px 0px 80px;
	color: #715147;
}
#brand:hover{
	transition-duration: .2s;
	font-size: 140%;
	margin: 13px 0px 0px 68px;
}

#tabs{
	width: 40%;
	float: right;
	font-weight: bolder;
	text-align: center;
}

.tab{
	padding: 7px 5px 7px 5px;
	margin-top: 12px;
	width: 25%;
	display: inline-block;
	border-radius: 5px;
	color: #715147;
	font-size: 90%;
}

.tab:hover{
	transition-duration: .5s;
	color: white;
	background-color: #715147;
}

#tab_img{
	float: right;
	text-align: right;
	padding-right: 50px;
	display: inline-block;
	padding-top: 15px;
	width:8%;
}

#tab_img img{
	height: 25px;
}

#tab_img img:hover{
	transition-duration: .1s;
	margin: -1px -3px 0px 0px;
	height: 30px;
}

#offer{
	width: 100%;
	background-image: url("Images/offer.jpg");
	background-position: center;
	height:300px;
	text-align: center;
	padding: 40px;
	background-size: cover;
	border-bottom: solid 3px white;
}

#offer_name{
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 250%;
	margin-bottom: 10px;
}

.offer_details{
	filter:none;
	color: white;
	font-size: 120%;
	font-weight: 600;
}


.info{
	margin:15px;
	background-color: white;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	font-family: 'Lobster', cursive;
	font-weight: bolder;
	padding: 5px;
	color: #715147;
	font-size: 120%;
}

.info:hover{
	background-color: #715147;
	color: white;
}

.infop{
	margin:15px;
	background-color: gold;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	font-family: 'Lobster', cursive;
	font-weight: bolder;
	padding: 5px;
	color: black;
	font-size: 120%;
}

.infop:hover{
	background-color: black;
	color: gold;
}


.button{
	margin-top: 20px;
	padding: 5px 5px 10px 5px;
	border-radius: 20px;
	background-color: white;
	text-align: center;
	display: inline-block;
	width: 200px;
	font-family: 'Lobster', cursive;
	font-size: 120%;
	color: #715147; 
	box-shadow: 0px 2px 3px rgb(0,0,0,0.3);
}


.button:hover{
	background-color: #715147;
	color: white;
}

#dailytag{
	margin: 40px 0px 5px 0px; 
	padding-top: 20px;
	display:inline-block;
	width: 100%;
	background-image: url("Images/offer.jpg");
	border-top: solid 3px white;
	border-bottom: solid 3px white;
	background-position: center;
	height: 100px;
	text-align: center;
	background-size: cover;
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 200%;
	box-shadow: 0px 3px 4px 0px rgb(0,0,0,.6);
}

#selects{
	margin-top: 20px;
	margin-left:auto;
	margin-right: auto;
	width: 85%;
}

.select{
	box-sizing: border-box;
	text-align: center;
	width: 31.3%;
	float: left;
	height: 400px;
	margin: 25px 10px 25px 10px;
	border-radius: 7px;
	box-shadow: 0px 3px 4px 0px rgb(0,0,0,.6);
	background-position: center;
	background-size: cover;
	border: solid 3px white; 
}

.select:hover{
	transition-duration: .1s;
	box-shadow: 0px 7px 10px 3px rgb(0,0,0,.8);

}

.details{
	width: 100%;
	height: 300px;
	padding-top: 90px;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
}

.name{
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 15px;
	font-family: 'Lobster', cursive;
	font-size: 180%;
	font-weight: normal;
}

.cost{
	font-size: 120%;
}

#s1{
	background-image: url("Images/brown.jpg");
}
#s2{
	background-image: url("Images/white.jpg");
}
#s3{
	background-image: url("Images/dark.jpg");
}
#s4{
	background-image: url("Images/pies.jpg");
}
#s5{
	background-image: url("Images/sand.png");
}
#s6{
	background-image: url("Images/cake.jpg");
}
#s7{
	background-image: url("Images/drinks.jpg");
}
#s8{
	background-image: url("Images/balls.jpg");
}
#s9{
	background-image: url("Images/toppings.jpg");
}


#specialtag{
	margin: 40px 0px 5px 0px; 
	padding-top: 30px;
	display:inline-block;
	width: 100%;
	background-image: url("Images/offer.jpg");
	border-top: solid 3px gold;
	border-bottom: solid 3px gold;
	background-position: center;
	height: 120px;
	text-align: center;
	background-size: cover;
	font-family: 'Lobster', cursive;
	color: gold;
	font-size: 200%;
	box-shadow: 0px 3px 4px 0px rgb(0,0,0,.6);

}

#specials{
	margin-top: 20px;
	margin-left:auto;
	margin-right: auto;
	width: 85%;
}

.special{
	box-sizing: border-box;
	text-align: center;
	width: 31.3%;
	float: left;
	height: 400px;
	margin: 10px 10px 10px 10px;
	border-radius: 7px;
	box-shadow: 0px 3px 4px 0px rgb(0,0,0,.6);
	border: solid 3px gold;
	background-position: center;
	background-size: cover; 
}

.special:hover{
	transition-duration: .1s;
	box-shadow: 0px 7px 10px 3px rgb(0,0,0,.8);

}
.gold{
	color: gold;
}

.buttonp{
	margin-top: 20px;
	padding: 5px 5px 10px 5px;
	border-radius: 20px;
	text-align: center;
	display: inline-block;
	width: 200px;
	font-family: 'Lobster', cursive;
	font-size: 120%;
	background-color: gold;
	color: black;
	box-shadow: 0px 2px 3px rgb(0,0,0,0.3);
}
.buttonp:hover{
	color: gold; 
	background-color: black;
}

.mt{
	padding-top: 70px;
}

.discount{
	text-decoration: line-through;
}

#o1{
	background-image: url("Images/low.jpg");
}
#o2{
	background-image: url("Images/mid.jpg");
}
#o3{
	background-image: url("Images/high.jpg");
}

#abouttag{
	margin: 40px 0px 5px 0px; 
	padding-top: 20px;
	display:inline-block;
	width: 100%;
	background-image: url("Images/offer.jpg");
	border-top: solid 3px white;
	border-bottom: solid 3px white;
	background-position: center;
	height: 100px;
	text-align: center;
	background-size: cover;
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 200%;
	box-shadow: 0px 3px 4px 0px rgb(0,0,0,.6);
}

#contacttag{
	margin: 40px 0px 5px 0px; 
	padding-top: 20px;
	display:inline-block;
	width: 100%;
	background-image: url("Images/offer.jpg");
	border-top: solid 3px white;
	border-bottom: solid 3px white;
	background-position: center;
	height: 100px;
	text-align: center;
	background-size: cover;
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 200%;
	box-shadow: 0px 3px 4px 0px rgb(0,0,0,.6);
}

#abouts{
	float: unset;
	width: 100%;
	height: 500px;
	display: inline-block;
}

#contacts{
	float: unset;
	width: 100%;
	height: 500px;
	display: inline-block;
}